BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 150

AlignAfterOpenBracket: DontAlign

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly

AlignConsecutiveAssignments: false
PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: true
IncludeBlocks: Merge
IncludeCategories:
  - Regex: '^<glad/'
    Priority: 2
  - Regex: '^<GLFW/'
    Priority: 3
  - Regex: '^<Lumeda/'
    Priority: 4
  - Regex: '^<Sandbox/'
    Priority: 5
  - Regex: '.*'
    Priority: 1

# --- Paramètres ---
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false

# --- Constructeur ---
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: AfterColon
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerIndentWidth: 4

# --- Template ---
AlwaysBreakTemplateDeclarations: Yes