[submodule "Lumeda/vendor/spdlog"]
	path = Lumeda/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Lumeda/vendor/glfw"]
	path = Lumeda/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Lumeda/vendor/tracy"]
	path = Lumeda/vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Lumeda/vendor/glm"]
	path = Lumeda/vendor/glm
	url = https://github.com/g-truc/glm.git
