# Binaries
**/bin/
**/bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Logging
*.log

# Makefile (premake gmake)
**.make
Makefile

imgui.ini